/* html, body {
    margin: 0;
    padding: 0;
} */

#center-body {
    border-left: 2px black solid;
    border-right: 2px black solid;
    align-content: center;
}

#left-control {
    position: absolute;
    left: 0;
}

#right-control {
    position: absolute;
    right: 0;
}
/* 
.list {
    height: 33%;
} */

#left-panel {
    width: 100%;
    padding: 0px;
}

#right-panel {
    width: 100%;
    padding: 0px;
    margin: 0;
}

#right-panel .row {
    margin-left: 0;
    margin-right: 0;
}

.left-panel {
    width: 100%;
    margin: 0;
}

#day-view-form {
    margin: 0;
}

#friends-list {
    position: relative;
    margin-bottom: 20px;
}

h2 {
    clear: both;
    width: 100%;
    text-align: center;
    border: 5px solid black;
    margin-bottom: 5px;
    height: 50px;
}

#user-search-area {
    height: 30%;
}

form {
    width: 100%;
    margin: 0 10px;
}

form .form-control {
    width: 80%;
    margin: 0 auto;
}

form .form-group{
    align-content: center;
}

#day-view-form {
    margin-bottom: 10px;
}

#page-load {
    border: 2px gray solid;
    border-radius: 5px;
    width: 40%;
    align-content: center;
    margin: 0 auto;
}

iframe {
    margin-top: 25px;
}

.footer {
    background-color: #333;
    border-top: black solid 10px;
    padding: 20px 0;
}

.footer * {
    color: #fff;
}

nav ul li {
    line-height: 1.2;
    list-style-type: none;
    margin: 0 10px;
    padding: 6px 5px;
    padding-left: 0;
    text-align: center;
}
  
.developer {
    color: black;
    display: inline-block;
    font-weight: 400;
    margin: 0 8px;  
}