#center-body {
    border-left: 2px black solid;
    border-right: 2px black solid;
    align-content: center;
}

#left-control {
    position: absolute;
    left: 0;
}

#right-control {
    position: absolute;
    right: 0;
}
/* 
.list {
    height: 33%;
} */

#friends-list {
    position: relative;
    margin-bottom: 20px;
}

h2 {
    clear: both;
    width: 100%;
    text-align: center;
    border: 5px solid black;
    margin-bottom: 5px;
}

#user-search-area {
    height: 30%;
}

form .form-group{
    align-content: center;
}